{% assign current_variant = product.selected_or_first_available_variant %}
<h1 class="product__title">
  {{ product.title }}
</h1>

{% if product.vendor != blank %}
  <p class="product__vendor">
    {{ product.vendor }}
  </p>
{% endif %}

<div class="product__price" id="ProductPrice">
  <span class="product__price-current">
    {{ current_variant.price | money }}
  </span>

  <span class="product__price-compare">
    {% if current_variant.compare_at_price > current_variant.price %}
      {{ current_variant.compare_at_price | money }}
    {% endif %}
  </span>
</div>

{% if product.description != blank %}
  <div class="product__description">
    {{ product.description }}
  </div>
{% endif %}
